h1 {
  margin-bottom: -20px;
}

h2 {
  border-bottom: solid 1px;
  margin-bottom: -10px;
}

h3 {
  margin-bottom: -15px;
}

p {
  margin-bottom: -15px;
}

ul {
  margin-bottom: -15px;
}

.all {
  font-family: 'Century Gothic', sans-serif;
  background-color: #dfdfdf;
}

.education {
  margin-top: 50px;
  margin-bottom: 50px;
}

.job {
  margin-bottom: 30px;
}
