h1 {
  font-family: 'Century Gothic', sans-serif;
  margin-bottom: -20px;
}

h2 {
  font-family: 'Century Gothic', sans-serif;
  margin-bottom: -20px;
}

h3 {
  font-family: 'Century Gothic', sans-serif;
  margin-bottom: -20px;
}

p {
  font-family: 'Century Gothic', sans-serif;
}
