h1 {
  font-family: 'Century Gothic', sans-serif;
  margin-bottom: -20px;
}

h2 {
  font-family: 'Century Gothic', sans-serif;
  margin-bottom: -20px;
}

h3 {
  font-family: 'Century Gothic', sans-serif;
  margin-bottom: -15px;
}

ul {
  font-family: 'Century Gothic', sans-serif;
}

li {
  font-family: 'Century Gothic', sans-serif;
}

.education {
  margin-top: 20px;
  margin-bottom: 20px;
}
